* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'K2D', sans-serif;
}

h1 {
  color: #9932cc;
  font-family: 'Megrim', cursive;
}

body {
  background-image: linear-gradient(#181818, #3f3f3f 30%);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: white;
  text-align: center;
}

main {
  /* height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
}

section {
  background-color: #3f3f3f;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

section h2 {
  margin: 20px 0;
  padding-top: 20px;
}

section h1 {
  text-align: left;
  margin: 30px 0;
}

.user-create-stats h5 {
  text-align: right;
}

.user-create-stats p {
  color: #777;
}

form {
  background-color: #313131;
  border: #555 solid 2px;
  padding: 10px;
  border-radius: 5px;
}

.form-user-create button {
  background-color: #9932cc;
  /* border: 1px solid #555; */
  box-shadow: 0 0 10px #c38fdd
}

.form-row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px 0;
}

input, option, select {
  border-radius: 10px 10px 2px 2px;
  outline: none;
  border: 2px solid #3f3f3f;
  margin: 2px;
  cursor: pointer;
}

button {
  border-radius: 10px;
  outline: none;
  border: #181818;
  background-color: #313131;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 20;
}

button:hover {
  text-shadow: 0 0 2px #fff;
}

.error {
  color: red;
  font-style: italic;
  display: none;
}

/* Chat Room */

.video-container {
  position: absolute;
  overflow: hidden;
}

video {
  height: 100%;
}

.video-remote {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-local {
  top: 50px;
  /* left: calc(100% - 150px); */
  /* right: 50px; */
  box-shadow: 0 0 2px #949494;
  opacity: .9;
  height: 120px;
  /* width: 120px; */
  border-radius: 20px;
  border: 2px solid #555;
  transition: border-style 1s, box-shadow 1.2s, filter .6s, animation 3s;
}

.video-local:hover {
  box-shadow: 0 0 3px #fff;
}

.video-local:active {
  border: 4px dotted;
  box-shadow: 0 0 0 5px #fff;
  filter: opacity(.6);
  animation-name: circling-dashes;
  animation-duration: .6s;
  animation-delay: .8s;
  animation-iteration-count: infinite;
}

@keyframes circling-dashes {
  from {
    box-shadow: 0 0 0 10px #5e5e5e;
  }
  to {
    box-shadow: 0 0 0 5px #fff;
  }
}

.video-connecting {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.video-connecting>* {
  text-align: center;
  margin: 0 auto;
}

.chat-nav {
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 20px;
}

.next-match {
  border-radius: 10px 0 0 10px;
}

.settings-button {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid #444;
  padding-left: 15px;
}

.countdown {
  /* position: absolute;
  bottom: 35%; */
  width: 100%;
}

.skip {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  background-color: rgba(50, 50, 50, .7);
  border-radius: 5px;
}

svg {
  max-width: 500px;
}

.female {
  stroke: #ff32be;
}

.male {
  stroke: #1754ed;
}

.graph-circle {
  stroke: #666;
  stroke-width: 5;
  r: 15;
}

circle.female {
  fill: #ff87d888;
}

circle.male {
  fill: #7fa3ff88;
}

.graph-line {
  stroke-width: 10;
  fill: none;
}

.graph-tick {
  stroke-width: 8;
  stroke: #555;
  fill: none;
}

.graph-axis {
  stroke: black;
  fill: none;
}

.axis-unit {
  fill: #ccc;
  text-anchor: middle;
  font-size: 5rem;
  alignment-baseline: central;
}

.left-align {
  text-anchor: start;
}

.axis-label {
  fill: #ccc;
  text-anchor: middle;
  font-size: 4rem;
}