{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react-hooks"
  ],
  "ignorePatterns": [
    "build/",
    "node_modules/"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "consistent-return": "off",
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "no-console": "off",
    "no-restricted-syntax": "off",
    "no-undef": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "Label"
        ],
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        },
        "allowChildren": false
      }
    ],
    "react/no-array-index-key": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "parser": "babel-eslint"
}